<div id="wrapper" class="hasbg" style="padding-top: 24px;">
<div class="ppb_wrapper hasbg withtopbar">
                <div class="one" style="padding:50px 0 50px 0;">
                        <div class="standard_wrapper ">
                            <div class="page_content_wrapper ">
                                <div class="inner  container-fluid">
                                    <div style="margin:auto;width:60%;text-align:center;">
                                        <h2 class="ppb_menu_title">Signature Dishes</h2>
                                        <br class="clear" />
                                        <br />
                                     
<div class="one " ng-repeat="n in product1 track by $index ">
<div class="menu_content_classic" id={{n.id}}  onclick="add(this)" ng-click=''>
<div class="menu_image">
<img alt="" src={{n.img}} /></div>
<h5 class="menu_post"><span class="menu_title"><a href="#" id="a5">{{n.p_name}}</a></span>
     <span class="menu_dots image"></span><span class="menu_price">{{n.price|currency}}</span> </h5>
<div class="post_detail menu_excerpt">
{{n.dec}}</div>
<div class="menu_highlight">
<i class="fa fa-star"></i>
</div>
</div>
</div>
</div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                    </div>
    <section class="module parallax parallax-1"><div class="container"><h1> Best Service </h1></div></section>
              
           

            <div class="row featurette">               
                       <div class="one" style="padding:50px 0 50px 0;">
                        <div class="standard_wrapper ">
                            <div class="page_content_wrapper ">
                                <div class="inner  container-fluid">
                                    <div style="margin:auto;width:60%;text-align:center;">
                                        <h2 class="ppb_menu_title">Signature Dishes</h2>
                                        <br class="clear" />
                                        <br />
                                     
<div class="one " ng-repeat="n in product1 track by $index ">
<div class="menu_content_classic" id=Div1  onclick="add(this)" ng-click=''>
<div class="menu_image">
<img alt="" src={{n.img}} /></div>
<h5 class="menu_post"><span class="menu_title"><a href="#" id="a1">{{n.p_name}}</a></span>
     <span class="menu_dots image"></span><span class="menu_price">{{n.price|currency}}</span> </h5>
<div class="post_detail menu_excerpt">
{{n.dec}}</div>
<div class="menu_highlight">
<i class="fa fa-star"></i>
</div>
</div>
</div>
</div>
  <br class="clear" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
     <section class="module parallax parallax-3"><div class="container"><h2> screen </h2></div></section>
    
            
            <div class="row featurette">
               

            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              </div>
            <hr class="featurette-divider">
         

   
    


</div>

    </div>